[Unit]
Description=e-Paper Display
After=network-online.target remote-fs.target

[Service]
Type=simple
Restart=always
KillMode=process
Environment="PYTHONUNBUFFERED=1"
EnvironmentFile=-/etc/default/epaper
ExecStart=python3 /opt/transfer.local/epd/epd.py

[Install]
WantedBy=multi-user.target
