[Unit]
Description=PiAware e-Paper Display
After=network-online.target remote-fs.target

[Service]
Type=simple
Restart=always
KillMode=process
Environment="PYTHONUNBUFFERED=1"
EnvironmentFile=-/etc/default/piawaer-epaper
ExecStart=/opt/piaware-epaper/.venv/bin/python3 /opt/piaware-epaper/epaper.py

[Install]
WantedBy=multi-user.target
