[Unit]
Description=PiAware e-Paper Status Display
After=network-online.target remote-fs.target

[Service]
Type=simple
Restart=always
KillMode=process
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONDONTWRITEBYTECODE=1"
EnvironmentFile=-/etc/default/piaware-epaper
ExecStart=/opt/piaware-epaper/.venv/bin/python3 /opt/piaware-epaper/piaware-epaper.py

[Install]
WantedBy=multi-user.target
